/*  your css code here. If applicable */
#yellow{
  border-color: green;
	border: 1px solid green ;
}

#red{
  border-color:  black;
		border: 1px solid black ;
}

#green{
  border-color:yellow;
		border: 1px solid yellow ;
}
